.heading-1 {
  margin: 0;
  width: 1200px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
}
.experience-the-freedom,
.heading-1,
.hero-subtitle {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.experience-the-freedom {
  width: 600px;
  position: relative;
  line-height: 135%;
  align-items: center;
  flex-shrink: 0;
}
.hero-subtitle {
  width: 1200px;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  color: #292929;
  font-family: Manrope;
}
.hero-banner {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #9f0132;
  font-family: Roboto;
}
.heading-21,
.how-it-works-title1 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.heading-21 {
  width: 677.4px;
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
  align-items: center;
  flex-shrink: 0;
}
.how-it-works-title1 {
  width: 1200px;
  flex-direction: row;
  align-items: flex-start;
}
.step-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 39px 0.1px;
  box-sizing: border-box;
  gap: 80px;
  min-width: 232px;
  max-width: 100%;
}
.image-3-icon1 {
  height: 555px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.link-highlight-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9f0132;
  width: 100%;
  height: 100%;
}
.vector-icon {
  position: absolute;
  top: 157.8px;
  left: 85.2px;
  width: 70.5px;
  height: 41.1px;
  z-index: 2;
}
.everse-link-image,
.link-highlight {
  margin: 0 !important;
  position: absolute;
}
.link-highlight {
  height: 517px;
  width: 244px;
  bottom: 14.8px;
  left: 119px;
}
.everse-link-image {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.everselink1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 15px;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.everse-link-image-parent,
.step-rows-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.everse-link-image-parent {
  height: 555px;
  width: 485px;
  padding: 246.1px 20px 246px;
  box-sizing: border-box;
  position: relative;
}
.step-rows-parent {
  width: 1200px;
  row-gap: 20px;
  font-size: 34px;
  color: #fff;
}
.view-setup-video1 {
  flex: 1;
  position: relative;
  font-size: 12.6px;
  line-height: 18px;
  font-weight: 700;
  font-family: Montserrat;
  color: #9f0132;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  min-width: 124.5px;
}
.button1 {
  cursor: pointer;
  border: 2px solid #9f0132;
  padding: 15px 30px 15px 34px;
  background-color: #fff;
  width: 192.3px;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover {
  background-color: #e6e6e6;
  border: 2px solid #c42659;
  box-sizing: border-box;
}
.how-it-works,
.setup-video1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.setup-video1 {
  width: 1200px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
}
.how-it-works {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  gap: 64px;
  text-align: center;
  font-size: 53.8px;
  color: #9f0132;
  font-family: Montserrat;
}
.go1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 106px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.background1 {
  flex: 0.3325;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 229px 223px;
  box-sizing: border-box;
  background-image: url(/public/background2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 381px;
  max-width: 100%;
}
.coonect1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 106px;
  font-weight: 700;
  font-family: inherit;
}
.gomoworld-website-imagefiles-d1 {
  flex: 1;
  border-radius: 24px;
  overflow: hidden;
  flex-direction: row;
  padding: 228px 82px 230px;
  box-sizing: border-box;
  background-image: url(/public/gomoworld-website-imagefiles-d204webp1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 381px;
  max-width: 100%;
}
.background-parent,
.gomoworld-website-imagefiles-d1,
.productlistingpage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-parent {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 80px 360px;
  box-sizing: border-box;
  gap: 27px;
  max-width: 100%;
  text-align: left;
  font-size: 96px;
  color: #9f0132;
  font-family: Roboto;
}
.productlistingpage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .background1,
  .gomoworld-website-imagefiles-d1 {
    flex: 1;
  }
  .background-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .step-rows {
    flex: 1;
  }
  .step-rows-parent {
    flex-wrap: wrap;
  }
  .how-it-works {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .background1,
  .gomoworld-website-imagefiles-d1 {
    min-width: 100%;
  }
  .background-parent {
    padding-left: 180px;
    padding-right: 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .heading-1 {
    font-size: 38px;
    line-height: 42px;
  }
  .heading-21 {
    font-size: 43px;
    line-height: 54px;
  }
  .everselink1 {
    font-size: 27px;
    line-height: 11px;
  }
  .everse-link-image-parent,
  .how-it-works {
    padding-top: 160px;
    padding-bottom: 160px;
    box-sizing: border-box;
  }
  .how-it-works {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .go1 {
    font-size: 48px;
    line-height: 63px;
  }
  .background1 {
    padding: 149px 111px;
    box-sizing: border-box;
  }
  .coonect1 {
    font-size: 48px;
    line-height: 63px;
  }
  .background-parent,
  .gomoworld-website-imagefiles-d1 {
    padding: 148px 41px 149px;
    box-sizing: border-box;
  }
  .background-parent {
    padding: 52px 90px;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 29px;
    line-height: 32px;
  }
  .heading-21 {
    font-size: 32px;
    line-height: 41px;
  }
  .step-rows {
    gap: 40px;
  }
  .everselink1 {
    font-size: 20px;
    line-height: 8px;
  }
  .how-it-works {
    gap: 16px;
  }
  .go1 {
    font-size: 29px;
    line-height: 42px;
  }
  .background1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .coonect1 {
    font-size: 29px;
    line-height: 42px;
  }
}
