.heading-11 {
  height: 90.5px;
  width: 358px;
  position: relative;
  display: none;
  max-width: 100%;
}
.your-gateway-to {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
}
.in-todays-fast-paced {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Manrope;
}
.your-gateway-to-connectivity-o-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.where-do-you {
  width: 212px;
  border: 0;
  outline: 0;
  font-family: Manrope;
  font-size: 16px;
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 135%;
  color: #515151;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.button-icon {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: 6px;
}
.data-input {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.form,
.heading-1-parent,
.hero-content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.form {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  box-sizing: border-box;
}
.heading-1-parent,
.hero-content {
  align-items: flex-start;
}
.hero-content {
  width: 591px;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}
.heading-1-parent {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 95px 474px 96px;
  box-sizing: border-box;
  background-image: url(/public/frame-1000006870@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 80px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1225px) {
  .heading-1-parent {
    padding-left: 237px;
    padding-right: 237px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .your-gateway-to {
    font-size: 40px;
    line-height: 53px;
  }
  .hero-content {
    gap: 16px;
  }
  .heading-1-parent {
    padding: 62px 118px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .your-gateway-to {
    font-size: 24px;
    line-height: 35px;
  }
  .data-input {
    flex-wrap: wrap;
  }
  .heading-1-parent {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
